<?xml version="1.0"?>

<configuration>

	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
			<mimeMap fileExtension=".unityweb" mimeType="application/json"/>
			<mimeMap fileExtension=".data" mimeType="application/binary"/>
			<mimeMap fileExtension=".mem" mimeType="application/binary"/>
			<mimeMap fileExtension=".datagz" mimeType="application/binary"/>
			<mimeMap fileExtension=".jsgz" mimeType="application/binary"/>
			<mimeMap fileExtension=".memgz" mimeType="application/binary"/>
			<remove fileExtension=".unityweb"/>
			<mimeMap fileExtension=".unityweb" mimeType="application/octet-stream"/>
			<remove fileExtension=".wasm"/>
			<mimeMap fileExtension=".wasm" mimeType="application/wasm"/>
		</staticContent>
	</system.webServer>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>

</configuration>
